<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <img class="footer-logo" src="{{ '/assets/img/logos/small.png' | prepend: site.baseurl }}">
      </div>
      <div class="col-md-3 col-sm-6">
        {% for line in site.footer.address %}
        <p>{{ line.line }}</p>
        {% endfor %}
        <p>
          Phone: <a href="tel: {{ site.footer.phone }}">{{ site.footer.phone }}</a>
          Fax: <a href="fax: {{ site.footer.fax }}">{{ site.footer.fax }}</a>
      </div>
      <div class="col-md-7 col-xs-12">
        <ul class="footer-list">
          {% for page in site.data.footer %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
