<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <img class="footer-logo" src="{{ '/assets/img/logos/small.png' | prepend: site.baseurl }}">
      </div>
      <div class="col-md-3 col-sm-6">
        {% for line in site.footer.address %}
        <p>{{ line.line }}</p>
        {% endfor %}
        <p>
          Phone: <a href="tel: {{ site.footer.phone }}">{{ site.footer.phone }}</a></br>
          Fax: <a href="fax: {{ site.footer.fax }}">{{ site.footer.fax }}</a>
      </div>
      <div class="col-md-7 col-xs-12">
        <ul class="footer-list">
          {% for page in site.data.footer %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 attribution" style="text-align: right; width: 100%">
        <p>The background image is from the <a href="{{ site.attribution.image.url }}">{{ site.attribution.image.source }}</a></p>
        <p>The appearance is based on the <a href="{{ site.attribution.theme.url }}">{{ site.attribution.theme.name }}</a> theme.</p>
        <p>This site is open source, so you can make it better and <a href="https://github.com/mnylc/cit-toolkit">edit it on Github</a></p>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</footer>
