<ol class="posts">
    {% assign expires = site.time | date: '%s' | minus: 5184000 | date: '%s' %}
    {% for post in site.tags[include.tag] %}
    {% capture posttime %}{{ post.date | date: '%s' }}{% endcapture %}
    {% if posttime > expires %}
    <li>
	<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
	<div class="post-date">posted on {{ post.date | date: "%B %-d, %Y" }}</div>
	<div class="post-excerpt">
	    {{ post.location }}
	</div>
    </li>
    {% endif %}
    {% endfor %}
</ol>
