html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 300px; /* bottom = footer height */
}

footer {
	background-color: #000;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.footer-logo {
	border: 4px;
	border-color: #fff;
}
