html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */

    @media (max-width: 1000px) {
      margin-bottom: 400px;
    }
}

footer {
	background-color: #000;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.footer-logo {
	border: 4px;
	border-color: #fff;
}

footer .footer-list {
  @media (max-width: 1000px) {
    padding-left: 0;
    text-align: left;
  }
}

.footer-list li {
  @media (max-width: 1000px) {
    width: 100%;
  }
}
