html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */

    @media (max-width: 1000px) {
      margin-bottom: 400px;
    }
}

footer {
	background-color: #000;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

footer a {
  color: $secondary-color;
}

footer p{
    color: #F0F0F0;
}

.attribution {
  margin-top: 2em;
}

.attribution p {
  font-size: .7em;
  line-height: .8em;
}

.attribution a {
  cursor: pointer;
}

.footer-logo {
	border: 4px;
	border-color: #fff;
}

footer .footer-list {
  @media (max-width: 1000px) {
    padding-left: 0;
    text-align: left;
  }
}

.footer-list li {
  @media (max-width: 1000px) {
    width: 100%;
  }
}
