p {
font-size: 1.6rem;
	color:#505050 ;
}

h1,
h2,
h3,
h4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1 {
	font-size: 4rem;
  margin-bottom: 1.2rem;
}

h2 {
	font-size: 3rem;
	margin-top: 4rem;
}

h2#library-juice-academy,
h2#lyndacom,
h2#special-interest-groups
 {
	font-size: 2rem;
	margin-top: 2rem;
	color:#505050 ;
}

h3 {
	font-size: 2rem;
	margin-top: 3rem;
	color:#505050 ;
}

h4 {
	font-size: 1rem;
}

section {
	padding-top: 90px;
}
