.portfolio-caption{
	background-color:#F8F8F8 ;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	min-height:276px;
}

div.portfolio-caption h2{
	margin-top:1rem;
	font-size:3rem;
}