<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include nav.html %}

    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text">
            <div class="intro-heading">CULTURE IN TRANSIT</div>
            <div class="intro-lead-in">Digitizing and democratizing Metropolitan New York's Cultural Heritage.</div>
            <a href="#projects" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
      </div>
    </header>

    <section>
	<div class="container">

	    <!--

		 <div class="row">
		 {% for circle in site.data.circles %}
		 <div class="col-md-4">
		 <a href="{{ circle.url | prepend: site.baseurl }}">
                 <div class="text-center">
                 <span class="fa-stack fa-4x">
                 <i class="fa fa-circle fa-stack-2x text-primary"></i>
                 <i class="fa fa-{{ circle.icon }} fa-stack-1x fa-inverse"></i>
                 </span>
                 </div>
                 <h4 class="circle-heading text-center">{{ circle.title }}</h4>
                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
		 </a>
		 </div>
		 {% endfor %}
		 </div>
	       -->

            {% include projects.html %}

	</div>
    </section>


    {{ content }}

    {% include footer.html %}

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/assets/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/assets/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>
    <script>
     $(document).ready(function(){
	 $.get('{{ "/assets/img/bgimgs.txt" | prepend: site.baseurl }}', function(data) {
	     var lines = data.split('\n');
	     var line = lines[Math.floor(Math.random()*lines.length)];
	     var elms = line.split(';');
	     var img_path = "{{ "/assets/img/" | prepend: site.baseurl }}" + elms[0];
	     //replace the image
	     $('header').css("background-image", "url(" + img_path + ")");
	     $('.attribution').children(":first").html('The background image is from the <a href="' + elms[2] + '">' + elms[1] + '</a>.');
	 });
     });
    </script>
  </body>
</html>
